.Info {
    position: absolute;
    right: 10px;
    top: 75px;
    background-color: rgba(0, 176, 181, 0.8);
    color: white;
    z-index: 9999;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 20px;
    -webkit-box-shadow: -8px 10px 68px -17px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -8px 10px 68px -17px rgba(0, 0, 0, 0.71);
    box-shadow: -8px 10px 68px -17px rgba(0, 0, 0, 0.71);
}

h1 {
    margin: 10px;
    font-size: 1.2em;
}

.Infodata {
    text-align: center;
}