.Logo {
    animation: logo-spin infinite 20s linear;
    height: 60px;
    vertical-align: middle;
}

.Header {
    background-color: #222;
    padding: 20px 0;
    width: 100%;
    -webkit-box-shadow: -8px 10px 68px -17px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -8px 10px 68px -17px rgba(0, 0, 0, 0.71);
    box-shadow: -8px 10px 68px -17px rgba(0, 0, 0, 0.71);
}

.intro {
    font-size: large;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}